<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="shopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <shopy.Properties.Settings>
            <setting name="SizeSetting" serializeAs="String">
                <value>1024, 663</value>
            </setting>
            <setting name="LocationSetting" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="dbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>shopy</value>
            </setting>
            <setting name="isMenuClosed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="invoiceprefix" serializeAs="String">
                <value>SP-</value>
            </setting>
            <setting name="shopName" serializeAs="String">
                <value>Shopy Ltd</value>
            </setting>
            <setting name="shopAddress" serializeAs="String">
                <value>Champhai, Mizoram</value>
            </setting>
            <setting name="shopLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="isPro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProKey" serializeAs="String">
                <value>0</value>
            </setting>
        </shopy.Properties.Settings>
    </userSettings>
</configuration>
